$black: #2B2B2B;

$darkgray: lighten($black, 10%);
$overlayblack: transparentize($black, 0.5);

$white: #F5F5F5;

$midgray: darken($white, 10%);
$lightgray: darken($white, 5%);


$accent: #d23b3b;

$darkaccent: darken($accent, 10%);
$lightaccent: lighten($accent, 10%);


$border-radius: 10px;